{% extends 'base.html.twig' %}

{% block title %}Edit NumeroDons{% endblock %}

{% block body %}
    <h1>Edit NumeroDons</h1>

    {{ include('numero_dons/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_numero_dons_index') }}">back to list</a>

    {{ include('numero_dons/_delete_form.html.twig') }}
{% endblock %}
